@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Open+Sans");

$contentBodyColor: #33415c;
$btnColor: $contentBodyColor;
$hoverBtn: #5c677d;
$borderHover: #7D8597;
$backgroundColor: #001233; /* #292b2e #1c2833 */
$fonts: 'Maven Pro', 'Open Sans', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$borderRadius: 4px;
$borderWidth: 2.5px;
$fontColor: white;

/* Everyone likes border-box. */
*
{
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $backgroundColor;
  height: 100%;
  color: $fontColor;
}

body
{
  padding: 5%;
}

.mainF
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
}

/* CSS for every utility button in index.vue, div > a > button. */
.utils
{
  margin: 10% 0px;
  width: 80%;
  a
  {
    button
    {
      @extend .contentFont;
      box-shadow: 2px 2px 10px black;
      text-decoration: none;
      background-color: $btnColor;
      padding: 15px;
      text-align: center;
      width: 100%;
      border: $borderWidth solid $btnColor;
      transition-duration: 0.4s;
      border-radius: $borderRadius;
      &:hover
      {
        background-color: $hoverBtn;
        cursor: pointer;
      }
    }
  }
}

/* Flexbox for utilites in index.vue. fd = flex-display. */
.fd
{
  flex: auto;
  display: flex;
  flex-flow: column wrap; /* Property for setting flex direction and flex wrap. */
  justify-content: space-evenly;
  align-items: center;
  border-radius: $borderRadius;
  background-color: $contentBodyColor;
}

/* CSS for website title. */
.wtitle
{
  flex: 0 1 auto;
  text-align: center;
  position: sticky;
  top: 0px;
  box-shadow: 0 0 8px 0 black;
  padding: 5px;
  background-color: $contentBodyColor;
  border-radius: $borderRadius;
  margin-bottom: 5%;
  h1
  {
    @extend .titleFont;
    font-size: 140%;
    margin: 2% 0px;
  }
}

/* CSS for footer. */
.footer
{
  @extend .footerFont;
  flex: 0 1 auto;
  background: $contentBodyColor;
  margin: 5% 0px;
  border-radius: $borderRadius;
  p
  {
    a
    {
      text-decoration: underline;
      color: white;
      transition-duration: 0.2s;
      &:hover
      {
        color: gold;
      }
    }
  }
}

/* Used for titles. */
.titleFont
{
  font-family: 'Maven Pro', 'Source Sans Pro';
  font-weight: 400;
  color: white;
}

/* Used for content. */
.contentFont
{
  font-family: 'Open Sans', 'Source Sans Pro';
  font-weight: 300;
  color: white;
}

/* Used for footer. */
.footerFont
{
  font-family: 'Maven Pro', 'Source Sans Pro';
  font-weight: 400;
  font-size: 80%;
  text-align: center;
  color: white;
}

@media only screen and (min-width: 600px)
{
  body
  {
    padding: 5% 7%;
  }
  .wtitle
  {
    margin-bottom: 3%;
    h1
    {
      font-size: 170%;
    }
  }
  .fd
  {
    flex-flow: row wrap;
  }
  .utils
  {
    margin: 4% 0px;
    width: 45%;
    a
    {
      button
      {
        font-size: 90%;
      }
    }
  }
  .footer
  {
    margin: 3% 0px;
  }
}

@media only screen and (min-width: 768px)
{
  body
  {
    padding: 5%;
  }
  .wtitle
  {
    position: static;
    h1
    {
      font-size: 200%;
    }
  }
  .fd
  {
    flex-flow: row wrap;
  }
  .utils
  {
    margin: 3.5% 0px;
    width: 40%;
  }
}

@media only screen and (min-width: 992px)
{
  .wtitle
  {
    width: 60%;
    margin-bottom: 2%;
    h1
    {
      text-align: center;
    }
  }
  .fd
  {
    justify-content: flex-start;
  }
  .utils
  {
    margin: 3%;
    width: 27.33%;
    a
    {
      button
      {
        font-size: 90%;
      }
    }
  }
  .footer
  {
    margin-top: 2%;
  }
}

@media only screen and (min-width: 1024px)
{
  .wtitle
  {
    width: 50%;
  }
  .fd
  {
    justify-content: flex-start;
  }
  .utils
  {
    margin: 2.5%;
    width: 28.3%;
    a
    {
      button
      {
        font-size: 91.4%;
      }
    }
  }
}

@media only screen and (min-width: 1200px)
{
  .wtitle
  {
    h1
    {
      font-size: 200%;
    }
  }
  .utils
  {
    margin: 2%;
    width: 29.33%
  }
}

@media only screen and (min-width: 1440px)
{
  body
  {
    padding: 2% 6%;
  }
  .wtitle
  {
    width: 40%;
    margin-bottom: 1.5%;
  }
  .utils
  {
    a
    {
      button
      {
        font-size: 96%;
      }
    }
  }
  .footer
  {
    font-size: 90%;
    margin-top: 1.5%;
  }
}

@media only screen and (min-width: 2560px)
{
  .wtitle
  {
    width: 45%;
    h1
    {
      font-size: 500%;
    }
  }
  .utils
  {
    margin: 1.25% 2%;
    width: 21%;
    a
    {
      button
      {
        font-size: 180%
      }
    }
  }
  .footer
  {
    font-size: 150%;
  }
}
