$btnColor: #1c2833;
$hoverBtn: color.scale($btnColor, $lightness: 40%);
$backgroundColor: #1c2833; /* #292b2e*/
$fonts: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$borderRadius: 1px;
$fontColor: white;

*
{
  box-sizing: border-box;
  font-family: $fonts;
  color: $fontColor;
}

body
{
  background-color: $backgroundColor;
}